@import 'grid';
@import 'font';
@import 'helpers';

body{
    margin: 0;
    padding: 0;
    background: #F5F5F5;
}
html{
    min-width: 1230px;
}

.template{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    color: #333333;
    h2{
        font-family: 'MeriBold';
        font-size: 46px;
        margin-top: 0;
        margin-bottom: 30px;
        p{
            padding-bottom: 0!important;
            line-height: 58px;
        }
    }
    p{
        padding: 0;
        margin: 0;
        padding-bottom: 1em!important;
        line-height: 24px;
        letter-spacing: 0.04em;
    }

    header{
        position: relative;
        height: 320px;
        color: #FFFFFF;
        font-weight: 500;
        background-position: center;
        .bg{
            position: absolute;
            top: 100%;
            width: 100%;
            height: 1395px;
            background-position: center top;
            background-repeat: no-repeat;
        }
        .phone_head{
            color: #fff;
            text-decoration: none;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
        }
        .burger-menu{
            background: url(/templates/maximum/assets/img/burger.png) no-repeat left;
            padding-left: 32px;
            height: 24px;
            line-height: 24px;
            cursor: pointer;
        }
        .r_side .top_container{
            text-align: right;
        }
        .head_container{
            display: flex;
        }
        .l_side, .r_side{
            width: calc((100% - 234px) / 2);
        }
        .links{
            a{
                font-weight: 500;
                color: #fff;
                text-decoration: none;
                letter-spacing: 0.04em;
            }
            margin-top: 74px;
            ul{
                list-style: none;
                display: flex;
                padding: 0;
                margin: 0;

            }
        }
        .l_side .links ul{
            li{
                margin-right: 30px;
            }
        }
        .r_side .links ul{
            flex-flow: row-reverse;
            li{
                margin-left: 30px;
            }
        }

        & .bg_image{
            position: absolute;
            left: calc(50% - 960px);
            height: 100%;
            top: 0;
            z-index: -1;
            img{
                display: block;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .about_us{
        margin-top: 100px;
        position: relative;
        display: flex;
        .pic_container{
            margin-right: 102px;
        }
        .pic_container img{
            //height: 100%;
            //width: 100%;
        }
        .text_container{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .benefits{
        margin-top: 100px;
        h2{
            margin-bottom: 60px;
        }
        .ico_img{
            width: 72px;
            height: 72px;
            margin-bottom: 20px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        position: relative;
        .white_block{
            background: #fff;
            box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.08);
            border-radius: 8px;
        }
        h2{
            display: block;
        }
        .decor_img{
            position: absolute;
            top: -110px;
            right: 19px;
        }
        .about_block{
            margin-bottom: 20px;
            margin-top: 20px;
        }
        .about_block p{
            //margin-top: 10px;
        }
    }
    .catalogue{
        margin-top: 100px;
        h2{
            padding: 0 114px;
        }
    }
}

