<div class="container benefits">
    <h2>[[text|1]]</h2>
    <div class="white_block wb-padding">
        <div class="decor_img">
            <img src="/storage/files/images/1/img_1615109853.jpg">
        </div>
        <div class="w-100 row">
            <div class="about_block col-lg-4">
                <div class="ico_img">[[image|2|{"width":72,"height":72}]]</div>
                <p>[[text|2]]</p>
                <p>[[text|3]]</p>
            </div>
            <div class="about_block col-lg-4">
                <div class="ico_img">[[image|3|{"width":72,"height":72}]]</div>
                <p>[[text|4]]</p>
                <p>[[text|5]]</p>
            </div>
            <div class="about_block col-lg-4">
                <div class="ico_img">[[image|4|{"width":72,"height":72}]]</div>
                <p>[[text|6]]</p>
                <p>[[text|7]]</p>
            </div>
            <div class="about_block col-lg-4">
                <div class="ico_img">[[image|5|{"width":72,"height":72}]]</div>
                <p>[[text|8]]</p>
                <p>[[text|9]]</p>
            </div>
            <div class="about_block col-lg-4">
                <div class="ico_img">[[image|6|{"width":72,"height":72}]]</div>
                <p>[[text|10]]</p>
                <p>[[text|11]]</p>
            </div>
            <div class="about_block col-lg-4">
                <div class="ico_img">[[image|7|{"width":72,"height":72}]]</div>
                <p>[[text|12]]</p>
                <p>[[text|13]]</p>
            </div>
        </div>
    </div>
</div>
