<div class="container benefits">
    <div class="white_block wb-padding">
        <div class="decor_img">
            <img src="/templates/maximum/assets/img/vet.png">
        </div>
        <h2>[[text|1]]</h2>
        <div class="w-100 row">
            <div class="about_block col-lg-4">
                <div class="ico_img">[[image|2|{"width":72,"height":72}]]</div>
                [[text|2]]
                [[text|3]]
            </div>
            <div class="about_block col-lg-4">
                <div class="ico_img">[[image|3|{"width":72,"height":72}]]</div>
                [[text|4]]
                [[text|5]]
            </div>
            <div class="about_block col-lg-4">
                <div class="ico_img">[[image|4|{"width":72,"height":72}]]</div>
                [[text|6]]
                [[text|7]]
            </div>
            <div class="about_block col-lg-4">
                <div class="ico_img">[[image|5|{"width":72,"height":72}]]</div>
                [[text|8]]
                [[text|9]]
            </div>
            <div class="about_block col-lg-4">
                <div class="ico_img">[[image|6|{"width":72,"height":72}]]</div>
                [[text|10]]
                [[text|11]]
            </div>
            <div class="about_block col-lg-4">
                <div class="ico_img">[[image|7|{"width":72,"height":72}]]</div>
                [[text|12]]
                [[text|13]]
            </div>
        </div>
    </div>
</div>
