<div class="container benefits3">
    <div class="white_block wb-padding">
        <div class="decor_img">
            <img src="/templates/maximum/assets/img/vet.png">
        </div>
        <h2>[[text|1]]</h2>
        [[text|2]]
        <div class="w-100 row">
            <div class="about_block col-lg-4">
                <div class="d-flex ic_label">
                    <div class="ico_img">[[image|2|{"width":102,"height":102}]]</div>
                    [[text|3]]
                </div>
                [[text|4]]
            </div>
            <div class="about_block col-lg-4">
                <div class="d-flex ic_label">
                    <div class="ico_img">[[image|3|{"width":102,"height":102}]]</div>
                    [[text|5]]
                </div>
                [[text|6]]
            </div>
            <div class="about_block col-lg-4">
                <div class="d-flex ic_label">
                    <div class="ico_img">[[image|4|{"width":102,"height":102}]]</div>
                    [[text|7]]
                </div>
                [[text|8]]
            </div>
        </div>
    </div>
</div>
