<div class="catalogue container">
    <h2>[[text|1]]</h2>
    <div class="row">
        <div class="col-lg-6">
            <div bg_1_place>
                [[background|1|{"width":600,"height":600}]]
                [[text|2]]
            </div>
        </div>
        <div class="col-lg-3">
            <div bg_2_place>
                [[background|2|{"width":600,"height":600}]]
                [[text|3]]
            </div>
        </div>
        <div class="col-lg-3">
            <div bg_3_place>
                [[background|3|{"width":600,"height":600}]]
                [[text|4]]
            </div>
        </div>
        <div class="col-lg-6">
            <div bg_4_place>
                [[background|4|{"width":600,"height":600}]]
                [[text|5]]
            </div>
        </div>
        <div class="col-lg-3">
            <div bg_5_place>
                [[background|5|{"width":600,"height":600}]]
                [[text|6]]
            </div>
        </div>
        <div class="col-lg-3">
            <div bg_6_place>
                [[background|6|{"width":600,"height":600}]]
                [[text|7]]
            </div>
        </div>
    </div>
</div>
