<div class="contact container_small">
    <div class="w-100">
        <h3>[[text|1]]</h3>
        <div class="d-flex">
            <div style="height: 280px;min-width: 308px;" class="pic_container">[[image|1|{"width":308,"height":280}]]</div>
            <div class="text_container">
                <div class="about_block">
                    [[text|2]]
                </div>
            </div>
            <div class="map_link">
                [[link|1]]
            </div>
        </div>
    </div>
</div>
