<div class="examples">
    <div class="container">
        <h2>[[text|1]]</h2>
    </div>

    <div class="ex-container">
        <div class="ex_block" bg_1_place>
            [[background|1|{"width":600,"height":600}]]
        </div>
        <div class="ex_block" bg_2_place>
            [[background|2|{"width":600,"height":600}]]
        </div>
        <div class="ex_block" bg_3_place>
            [[background|3|{"width":600,"height":600}]]
        </div>
        <div class="ex_block" bg_4_place>
            [[background|4|{"width":600,"height":600}]]
        </div>
        <div class="ex_block" bg_5_place>
            [[background|5|{"width":600,"height":600}]]
        </div>
        <div class="ex_block" bg_6_place>
            [[background|6|{"width":600,"height":600}]]
        </div>
        <div class="ex_block" bg_7_place>
            [[background|7|{"width":600,"height":600}]]
        </div>
        <div class="ex_block" bg_8_place>
            [[background|8|{"width":600,"height":600}]]
        </div>
        <div class="ex_block" bg_9_place>
            [[background|9|{"width":600,"height":600}]]
        </div>
        <div class="ex_block" bg_10_place>
            [[background|10|{"width":600,"height":600}]]
        </div>
        <div class="ex_block" bg_11_place>
            [[background|11|{"width":600,"height":600}]]
        </div>
        <div class="ex_block" bg_12_place>
            [[background|12|{"width":600,"height":600}]]
        </div>
    </div>

    <div class="text-center all_catalogue">
        [[link|1|{"class":"primary button"}]]
    </div>
</div>
