<footer>
    <div class="container pt-20">
        <div class="row">
            <div class="col-lg-3">
                <div class="tab_cont">
                    <div class="tb">О нас</div>
                </div>
                <ul class="foot_menu">
                    <li>[[link|1]]</li>
                    <li>[[link|2]]</li>
                    <li>[[link|3]]</li>
                    <li>[[link|4]]</li>
                    <li>[[link|5]]</li>
                    <li>[[link|6]]</li>
                    <li>[[link|7]]</li>
                    <li>[[link|8]]</li>
                </ul>
            </div>
            <div class="col-lg-9">
                <div class="tab_cont">
                    <div class="tb">Наши услуги</div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <ul class="foot_menu">
                            <li>[[link|9]]</li>
                            <li>[[link|10]]</li>
                            <li>[[link|11]]</li>
                            <li>[[link|12]]</li>
                            <li>[[link|13]]</li>
                            <li>[[link|14]]</li>
                            <li>[[link|15]]</li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <ul class="foot_menu">
                            <li>[[link|17]]</li>
                            <li>[[link|18]]</li>
                            <li>[[link|19]]</li>
                            <li>[[link|20]]</li>
                            <li>[[link|21]]</li>
                            <li>[[link|22]]</li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <ul class="foot_menu">
                            <li>[[link|25]]</li>
                            <li>[[link|26]]</li>
                            <li>[[link|27]]</li>
                            <li>[[link|28]]</li>
                            <li>[[link|29]]</li>
                            <li>[[link|30]]</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer_adds">
            <div class="col-lg-3">
                <img src="/templates/maximum/assets/img/logo_footer.png" alt="">
            </div>
            <div class="col-lg-9">
                <div class="copy">
                    © 2021 Все права защищены.
                </div>
            </div>
        </div>
    </div>
</footer>


