<header bg_1_place>[[background|1|{"width":1920,"height":320}]]
    <div class="container pt-20">
        <div class="head_container">
            <div class="l_side">
                <div class="top_container">
                    <div class="burger-menu" id="head_burger">
                        <span>Наши услуги</span>
                    </div>
                </div>
                <div class="links">
                    <ul>
                        <li><div>[[link|1]]</div></li>
                        <li><div>[[link|2]]</div></li>
                        <li><div>[[link|3]]</div></li>
                        <li><div>[[link|4]]</div></li>
                    </ul>
                </div>
            </div>
            <div class="logo_top">
                <img src="/templates/maximum/assets/img/logo.svg" alt="">
            </div>
            <div class="r_side">
                <div class="top_container">
                    <a class="phone_head" href="tel:+7 (987) 654-32-10">+7 (987) 654-32-10</a>
                </div>
                <div class="links">
                    <ul>
                        <li>[[link|5]]</li>
                        <li>[[link|6]]</li>
                        <li>[[link|7]]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bg" bg_2_place>[[background|2|{"width":1920,"height":1395}]]
    </div>
</header>


