<div class="container_small benefits_left">
    <div class="white_block wb-padding">
        <div class="decor_img">
            <img src="/templates/maximum/assets/img/vet.png">
        </div>
        <h2>[[text|1]]</h2>
        <div class="w-100">
            <div class="first_text">[[text|2]]</div>
            <div class="d-flex info_cont">
                <div style="height: 307px;min-width: 307px;" class="pic_container left">[[image|1|{"width":307,"height":307}]]</div>
                <div class="text_container">
                    <div class="about_block">
                        <h3>[[text|3]]</h3>
                        <p>[[text|4]]</p>
                    </div>
                </div>
            </div>
            <div class="d-flex info_cont">
                <div class="text_container">
                    <div class="about_block">
                        <h3>[[text|5]]</h3>
                        <p>[[text|6]]</p>
                    </div>
                </div>
                <div style="height: 307px;min-width: 307px;" class="pic_container right">[[image|2|{"width":307,"height":307}]]</div>
            </div>
            <div class="bot_text">
                [[text|7]]
            </div>
        </div>
    </div>
</div>
