<div class="only_text container_small">
    <div class="wb-padding">
        <h2>[[text|1]]</h2>
        <div class="w-100">
            <div class="first_text">[[text|2]]</div>
            <div class="d-flex info_cont">
                <div style="height: 307px;min-width: 307px;" class="pic_container left">[[image|1|{"width":307,"height":307}]]</div>
                <div class="text_container">
                    <div class="about_block">
                        <p>[[text|4]]</p>
                    </div>
                </div>
            </div>
            <div class="d-flex info_cont">
                <div class="text_container">
                    <div class="about_block">
                        <p>[[text|5]]</p>
                    </div>
                </div>
                <div style="height: 307px;min-width: 307px;" class="pic_container right">[[image|2|{"width":307,"height":307}]]</div>
            </div>
            <div class="d-flex info_cont">
                <div style="height: 307px;min-width: 307px;" class="pic_container left">[[image|3|{"width":307,"height":307}]]</div>
                <div class="text_container">
                    <div class="about_block">
                        <p>[[text|6]]</p>
                    </div>
                </div>
            </div>
            <div class="d-flex info_cont">
                <div class="text_container">
                    <div class="about_block">
                        <p>[[text|7]]</p>
                    </div>
                </div>
                <div style="height: 307px;min-width: 307px;" class="pic_container right">[[image|4|{"width":307,"height":307}]]</div>
            </div>
            <div class="d-flex info_cont">
                <div style="height: 307px;min-width: 307px;" class="pic_container left">[[image|5|{"width":307,"height":307}]]</div>
                <div class="text_container">
                    <div class="about_block">
                        <p>[[text|8]]</p>
                    </div>
                </div>
            </div>
            <div class="d-flex info_cont">
                <div class="text_container">
                    <div class="about_block">
                        <p>[[text|9]]</p>
                    </div>
                </div>
                <div style="height: 307px;min-width: 307px;" class="pic_container right">[[image|6|{"width":307,"height":307}]]</div>
            </div>
            <div class="d-flex info_cont">
                <div style="height: 307px;min-width: 307px;" class="pic_container left">[[image|7|{"width":307,"height":307}]]</div>
                <div class="text_container">
                    <div class="about_block">
                        <p>[[text|10]]</p>
                    </div>
                </div>
            </div>
            <div class="bot_text">[[text|11]]</div>
        </div>
    </div>
</div>
