<div class="left_menu">
    <div class="container">
        <h1>[[text|1]]</h1>
        <div class="row requs">
            <div class="col-lg-3">
                <div class="aside_menu">
                    <ul>
                        <li>
                            <a href="/about">О компании</a>
                        </li>
                        <li>
                            <a href="/clients">Наши клиенты</a>
                        </li>
                        <li>
                            <a href="/feedback">Отзывы клиентов</a>
                        </li>
                        <li>
                            <a href="/employee">Сотрудники</a>
                        </li>
                        <li>
                            <a href="/vacancy">Вакансии</a>
                        </li>
                        <li class="active">
                            <a href="/requisites">Реквизиты</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="reqs_text">
                    [[text|2]]
                </div>
                <div class="resonsible">
                    <table class="req_table">
                        <tr>
                            <td>Полное наименование:</td>
                            <td>[[settings|full_name]]</td>
                        </tr>
                        <tr>
                            <td>Сокращенное наименование:</td>
                            <td>[[settings|short_name]]</td>
                        </tr>
                        <tr>
                            <td>ИНН/КПП:</td>
                            <td>[[settings|inn]]</td>
                        </tr>
                        <tr>
                            <td>ОРГН:</td>
                            <td>[[settings|ogrn]]</td>
                        </tr>
                        <tr>
                            <td>Юридический адрес:</td>
                            <td>[[settings|ur_address]]</td>
                        </tr>
                        <tr>
                            <td>Фактический адрес:</td>
                            <td>[[settings|fact_address]]</td>
                        </tr>
                        <tr>
                            <td>Телефон, факс:</td>
                            <td>[[settings|work_phone]]</td>
                        </tr>
                        <tr>
                            <td>Электронная почта:</td>
                            <td>[[settings|email]]</td>
                        </tr>
                        <tr>
                            <td>Сайт:</td>
                            <td>[[settings|site]]</td>
                        </tr>
                        <tr>
                            <td>Банковские реквизиты:</td>
                            <td>[[settings|requisites]]</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
