<div class="catalogue container">
    <h1>[[text|1]]</h1>
    <div class="row">
        <div class="col-lg-4">
            <div class="cat_block" bg_1_place>
                [[background|1|{"width":600,"height":600}]]
                [[link|1]]
            </div>
        </div>
        <div class="col-lg-4">
            <div class="cat_block" bg_2_place>
                [[background|2|{"width":600,"height":600}]]
                [[link|2]]
            </div>
        </div>
        <div class="col-lg-4">
            <div class="cat_block" bg_3_place>
                [[background|3|{"width":600,"height":600}]]
                [[link|3]]
            </div>
        </div>
        <div class="col-lg-4">
            <div class="cat_block" bg_5_place>
                [[background|5|{"width":600,"height":600}]]
                [[link|5]]
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="cat_block" bg_6_place>
                [[background|6|{"width":600,"height":600}]]
                [[link|6]]
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="cat_block" bg_7_place>
                [[background|7|{"width":600,"height":600}]]
                [[link|7]]
            </div>
        </div>
        <div class="col-lg-4">
            <div class="cat_block" bg_8_place>
                [[background|8|{"width":600,"height":600}]]
                [[link|8]]
            </div>
        </div>
        <div class="col-lg-4">
            <div class="cat_block" bg_9_place>
                [[background|9|{"width":600,"height":600}]]
                [[link|9]]
            </div>
        </div>
        <div class="col-lg-4">
            <div class="cat_block" bg_10_place>
                [[background|10|{"width":600,"height":600}]]
                [[link|10]]
            </div>
        </div>
        <div class="col-lg-4">
            <div class="cat_block" bg_11_place>
                [[background|11|{"width":600,"height":600}]]
                [[link|11]]
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="cat_block" bg_12_place>
                [[background|12|{"width":600,"height":600}]]
                [[link|12]]
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="cat_block" bg_13_place>
                [[background|13|{"width":600,"height":600}]]
                [[link|13]]
            </div>
        </div>
        <div class="col-lg-4">
            <div class="cat_block" bg_14_place>
                [[background|14|{"width":600,"height":600}]]
                [[link|14]]
            </div>
        </div>
        <div class="col-lg-4">
            <div class="cat_block" bg_15_place>
                [[background|15|{"width":600,"height":600}]]
                [[link|15]]
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="cat_block" bg_16_place>
                [[background|16|{"width":600,"height":600}]]
                [[link|16]]
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="cat_block" bg_17_place>
                [[background|17|{"width":600,"height":600}]]
                [[link|17]]
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="cat_block" bg_18_place>
                [[background|18|{"width":600,"height":600}]]
                [[link|18]]
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="cat_block" bg_19_place>
                [[background|19|{"width":600,"height":600}]]
                [[link|19]]
            </div>
        </div>
        <div class="col-lg-4 ">
            <div class="cat_block" bg_20_place>
                [[background|20|{"width":600,"height":600}]]
                [[link|20]]
            </div>
        </div>
    </div>
</div>
