@import 'dashforge.auth.css';
@import 'dashforge.css';
@import 'dashforge.dashboard.css';
@import 'dashforge.dashboard.css';
@import 'dashforge.demo.css';
@import 'dashforge.filemgr.css';
@import 'dashforge.chat.css';
@import "~vue-select/src/scss/vue-select.scss";
@import "~vue-advanced-cropper/dist/style.css";
@import '~vue2-perfect-scrollbar/dist/vue2-perfect-scrollbar.css';

@import '~tiptap/src/style.css';

@import './front/modules/callback';

.text_module .ProseMirror{
    border: 2px solid #eaeaea;
}
.text_module .ProseMirror.ProseMirror-focused{
    border: 2px dashed rgba(177, 40, 34, 0.99);
}
.text_module .ProseMirror-focused{
    outline: none;
}
.text_module .ProseMirror p{
    margin: 0!important;
}

.pointer{
  cursor: pointer!important;
}
.v--modal-overlay {
  z-index: 1001!important;
}
.br{
  border-right: 1px solid rgba(72, 94, 144, 0.16);
}
.form-control{
  height: calc(1.5em + 0.9375rem - 5px);
}
//.vs__dropdown-toggle{
//  height: calc(1.5em + 0.9375rem + 2px);
//  padding: 0.26875rem 0.225rem;
//}
//.vs__actions {
//  padding: 0px 6px 0 3px;
//}
//.vs__selected {
//  margin: 2px 2px 0px 2px;
//}
.ProseMirror{
    border: 1px solid #c0ccda;
    padding: 0.46875rem 0.625rem;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background: #fff;
}
.ProseMirror-focused{
    color: #596882;
    background-color: #fff;
    border-color: #7cb2fe;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(1 104 250 / 25%);
}
.menububble {
    position: absolute;
    display: flex;
    z-index: 20;
    background: #000;
    border-radius: 5px;
    padding: 0.3rem;
    margin-bottom: 0.5rem;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;

    &.is-active {
        opacity: 1;
        visibility: visible;
    }

    &__button {
        display: inline-flex;
        background: transparent;
        border: 0;
        color: #fff;
        padding: 0.2rem 0.5rem;
        margin-right: 0.2rem;
        border-radius: 3px;
        cursor: pointer;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            background-color: rgba(#fff, 0.1);
        }

        &.is-active {
            background-color: rgba(#fff, 0.2);
        }
    }

    &__form {
        display: flex;
        align-items: center;
    }

    &__input {
        font: inherit;
        border: none;
        background: transparent;
        color: #fff;
    }
}
.preview{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.loading::after{
    content: "";
    position: fixed;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    display: block;
    transition: 1s all;
    text-align: center;
    left: 0;
    top: 0;
    background: rgb(89 89 89 / 60%) url(/images/preloader.svg) center no-repeat;
    z-index: 10000;
}
.loading.load::after{
    opacity: 1;
    visibility: visible;
}
.wh-180{
    width: 180px;
    height: 180px;
}
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    width: 600px;
    margin: 0px auto;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.modal-body {
    padding: 0;
}

.modal-default-button {
    float: right;
}


.modal-enter {
    opacity: 0;
}

.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
